* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Teko:wght@500&display=swap');

body {
  background-color: #F1F4FB;
  color: #373a3c;
  display: flex;
  flex-direction: column;
  font-family: 'Arimo';
  font-size: 16px;
  align-items: center;
}

header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 5rem;
  width: 100%;
}

.date-hour {
  display: flex;;
}

.date-hour div {
  padding-left: 2px;
  padding-right: 10px;
}

.bg-green {
  background-color: #009688;
  color: white;
}

.button {
  border: 1px solid transparent;
  border-radius: 24rem;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 1.5; */
  padding: 0.375rem 0.75rem;
  text-align: center;
  /* user-select: none; */
  vertical-align: middle;
  white-space: nowrap;
}

.button-green {
  border: 1px solid #009688;
  background-color: #009688;
  color: white;
}

.button-outline {
  border: 1px solid #009688;
  background-color: transparent;
  color:#009688;
}

.selected {
  background-color: rgb(126 125 125);
}

.completed {
  text-decoration: line-through solid rgb(0 0 0);
}

main {
  background-color: white;
  margin-top: 3%;
  max-width: 960px;
  padding: 5%;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#operation {
  margin-top: 3%;
}

.mb-6pc {
  margin-bottom: 6%;
}

.mb-8pc {
  margin-bottom: 8%;
}

.mr-10px {
  margin-right: 10px;
}

.justify-end {
  display: flex;
  justify-content: end;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.form-task input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #929292;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 16px;
  margin-bottom: -1px;
  margin-right: 10px;
  width: 100%;
}

.form-task input:focus {
  border-bottom: 2px solid #929292;
  box-shadow: 0 0 0 0;
  outline: 0;
}

#list-tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#list-tasks li {
  height: 50px;
  background-color: rgba(0, 150, 136, 0.1);
  border-radius: 4px;
  margin: 3px 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}

.options-task {
  display: flex;
  color: #009688;
}

.options-task div {
  padding: 0 8px;
}